@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    li{
        @apply px-4;
        @apply cursor-pointer;
        @apply font-bold;
        @apply text-white;
        @apply hover:text-pink-600 duration-500;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(119, 162, 255, 0.6),
        hsla(242, 77%, 63%, 0.6)
    )!important
}
